/*---------------------------------------------------------------------- Общие настройки */
* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 20px;
    user-select: none;
    padding: 0px;
}
section{
    display: none;
}
.display{
    display: none;
}
body{
    background-color: #313638;
    /* overflow: hidden; */
}
button{
    color: #313638;
    padding: 5px;
    min-width: 100px;
    border-radius: 5px;
}
p{
    padding: 10px;
    line-height: 25px;
}
.attantion{
    color: red;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    padding: 0px;   
    /* border: 1px solid white; */
}
.show{
    display: block;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.listLink{
    list-style-type: circle;
    margin: 10px;
    padding-left: 20px;
}
.listLink li{
    padding: 5px;
}
.list{
    color: rgb(133, 133, 191);
}



/* -------------------------------------------------------------Меню */
.mobile{
    display: none;
    text-align: center;
    padding: 15px;
}

.menu{
    background-color: rgb(25, 64, 82);
    display: flex;   
    flex-wrap: wrap;   
    
}
.menu>li{
    /* border: 1px solid red; */
    position: relative; 
    max-width: 300px; 
    /* min-width: 150px; */
    padding: 8px; 
    text-align: center;
    margin-right: 20px;
    
}

.sub_menu{
    /* border: none; */
    position: absolute;
    top: -400px;
    left: 0px;
    opacity: 0;
    transition: 0.5s opacity, top 0s 0.5s ;
    background-color: #313638;
    /* transition: 1s; */
    /* display: none; */
}
@media (min-width: 700px){
    .caption:hover ~ .sub_menu{
        top: 40px;
        opacity: 1;    
        transition: opacity 0.5s ;    

        }
        .sub_menu>li:hover{
            background-color: rgb(89, 94, 94);
            padding-left: 15px;
            padding-right: 5px;
            
        }
        .caption:hover{
            text-decoration: underline;
        }
        .sub_menu:hover{
            opacity: 1; 
            top: 40px;
        }
}
@media (max-width: 700px)
{
    .sub_menu{
        display: block;
        position: static;
        max-height: 0px;
        transition: 1s;
        overflow: hidden;
        opacity: 1;        
    }
    .show_sub_menu{
        max-height: 400px;
    }               
    
    .mobile{
        display: block;       
        
    }
    .menu{
        display: none;       
        width: 100%;
        height: 100%;
        background-color: #313638;
        opacity: 0.9;       
        text-align: center;
        position: fixed;
    }
    .visible{        
        opacity: 1;    
        transition: opacity 0.5s ; 
        max-height: 300px;   
        transition: 1s;
    }
    li.active{        
        margin: 0px auto;
        /* border-bottom: 1px solid wheat; */
    }
    .caption{
        border-bottom: 1px solid wheat;
        padding: 5px;
        
    }
    .show{
        display: block;
    }    
    .over{
        overflow: hidden;
    }
    
    
}

.sub_menu>li{
    padding: 10px;
    border-bottom: 1px solid beige;
    min-width: 170px;
    max-width: 280px;
    transition: 0.5s;    
    /* border: 1px solid beige; */
}
.sub_menu>li:last-child{
    border: 0px;
}



.sub_menu>li:hover{
    background-color: rgb(89, 94, 94);
    padding-left: 15px;
    padding-right: 5px;    
}

/* ---------------------------------------------------------------Section 1 */

.control{
    padding: 10px;
    background-color: rgb(45, 73, 45);
    text-align: center;
}
.chapter{
    border: 1px solid rgb(187, 195, 166);
    background-color: rgb(90, 77, 61);
    text-align: center;
    padding: 5px;
}
/* .content{
    background-color: aqua;
} */
table{
    border: 1px whitesmoke solid;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
   
}
td{
    text-align: center;
    padding: 10px;
    border: 1px whitesmoke solid;
}
.content{
    /* display: none; */
    overflow-y: hidden;    
    max-height: 700px;
    transition: 1s;
    margin-top: 5px ;
}
.hideContent{
    max-height: 0px;
}
/* ----------------------------------------------------Секция с артиклями */
#articles{
    
}
