* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 20px;
    user-select: none;
    padding: 0px;
}
body{
    background-color: #313638;
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
   
}
ul{
    list-style-type: none;
    padding: 0px;   
    /* border: 1px solid white; */
}
.menu{
    background-color: rgb(25, 64, 82);
    display: flex;   
    flex-wrap: wrap;   
    
}
.menu>li{
    border: 1px solid red;
    position: relative; 
    max-width: 300px; 
    min-width: 150px;
    padding: 8px; 
    text-align: center;
    margin-right: 20px;
}

.sub_menu{
    /* border: none; */
    position: absolute;
    top: -400px;
    left: 0px;
    opacity: 0;
    transition: 0.5s opacity, top 0s 0.5s ;
    background-color: #313638;
}

.sub_menu>li{
    padding: 10px;
    border-bottom: 1px solid beige;
    width: 280px;
    transition: 0.5s;
    
    /* border: 1px solid beige; */
}

.active:active > ul{
    top: 40px;
    opacity: 1;    
    transition: opacity 0.5s ;    
}
.sub_menu>li:active{
    background-color: rgb(89, 94, 94);
   padding-left: 15px;
   padding-right: 5px;
       
} 

/* ---------------------------------------------------------------Section 1 */

.control{
    padding: 10px;
    background-color: rgb(45, 73, 45);
    text-align: center;
}
.chapter{
    border: 1px solid rgb(187, 195, 166);
    background-color: rgb(90, 77, 61);
    text-align: center;
    padding: 5px;
}
/* .content{
    background-color: aqua;
} */
table{
    border: 1px whitesmoke solid;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}
td{
    text-align: center;
    padding: 10px;
    border: 1px whitesmoke solid;
}
.content{
    /* display: none; */
    overflow: hidden;
    max-height: 400px;
    transition: 1s;
    margin-top: 5px ;
}
.hideContent{
    max-height: 0px;
}
